<div class="container mt-3">
  <h1>{{'tic_tac_toe' | label}}</h1>
  <p *ngIf="!gameBlocked">{{'turn' | label}}: {{turn==1 ? 'X' : 'O'}}</p>
  <p *ngIf="gameBlocked">{{'player_' | label}}{{turn==1 ? 'X' : 'O'}}{{'_wins' | label}}</p>

  <div class="flex-container">
      <div
      *ngFor="let cell of grid; let i = index"
      class="flex-item"
      [id]="'cell' + i"
      (click)="cellClicked(i)"
      [class.x]="cell == 1"
      [class.o]="cell == 2"
      ></div>
  </div>

  <div class="row text-center">
    <div class="col mt-3">
      <button (click)="newGame()" class="btn btn-primary mb-3">{{'new_game' | label}}</button>
    </div>
  </div>

  <!-- Amazin fireworks! -->
  <div *ngIf="gameBlocked">

    <!-- Small ones -->
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>

    <!-- Big ones -->
    <div class="firework" id="firework1">
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
    </div>
    <div class="firework" id="firework2">
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
    </div>
    <div class="firework" id="firework3">
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
    </div>
  </div>

</div>
