<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h1>{{'timer' | label}}</h1>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button class="btn btn-success firstbtn" (click)="cronometro()">{{'chronometer' | label}}</button>
      <button class="btn btn-success" (click)="cuentaAtras()">{{'countdown' | label}}</button>
      <hr>
    </div>
  </div>
</div>
<div class="h-75 row align-items-center">
  <div class="col" style="text-align: center;"><h1 style="font-size: 200px;">{{count}}</h1></div>
</div>
