<div class="container mt-3">
  <div class="row text-center">
    <div class="col">
      <h1>Timer</h1>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="cronometro()">Chronometer</button>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="cuentaAtras()">Countdown</button>
    </div>
  </div>
</div>
<div class="h-75 row align-items-center">
  <div class="col" style="text-align: center;"><h1 style="font-size: 200px;">{{count}}</h1></div>
</div>
