.nav-item > a:hover {
  color: white !important;
}

.navbar-custom {
  height: 50px;
}

.flag > img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-self: flex-end;
}

.flag> img:hover {
  transform: scale(1.05);
}

