<div class="container mt-5">

  <h1>Expense tracker</h1>
  <h2>Add a new item</h2>

  <form #expenseTrackerForm="ngForm" (ngSubmit)="addExpense(expenseTrackerForm.value)">
    <div class="row form-group form-inline">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" placeholder="Where was the expense made?" class="form-control" ngModel>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="date">Date: </label>
            <input type="date" name="date" class="form-control" ngModel>
          </div>
          <div class="col-md-6">
            <label for="amount">Amount: </label>
            <input type="number" name="amount" class="form-control" ngModel>
          </div>
        </div>

        <input type="submit" value="Add expense" class="btn btn-success mt-3">
      </div>
    </div>
  </form>

  <!-- Expenses list -->
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="expenses.length<1">
        <td colspan="4">No expenses added yet!</td>
      </tr>
      <tr *ngFor="let expense of expenses; let i=index">
        <td>{{expense.name}}</td>
        <td>{{expense.date}}</td>
        <td>{{expense.amount}}</td>
        <td><button (click)="removeExpense(i)"><i class="fas fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
